.sidePanel {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20vw;
  min-width: 300px;
  min-height: 100vh;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  border-right: 1px solid #a9a9a9;
}
