* {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  display: flex;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.page-content {
  padding: 1.5em;
}

h1 {
  font-size: 3em;
}